# ── Database ──────────────────────────────────
DATABASE_URL=postgresql://user:password@host:5432/retail_db
DATABASE_URL_POOLER=postgresql://user:password@host:5432/retail_db?pgbouncer=true

# ── AWS ───────────────────────────────────────
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=eu-west-1
S3_BUCKET_NAME=retail-intelligence-bronze

# ── Airflow ───────────────────────────────────
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key_here

# ── FastAPI ───────────────────────────────────
PIPELINE_API_KEY=your_32_char_api_key_here
ALLOWED_ORIGINS=http://localhost:3000,https://your-vercel-app.vercel.app

# ── Frontend ──────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:8000

# ── Slack ─────────────────────────────────────
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz

# ── Kafka ─────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ── dbt ───────────────────────────────────────
DBT_PROFILES_DIR=/app/dbt_project

# ── Monitoring ────────────────────────────────
GRAFANA_ADMIN_PASSWORD=your_grafana_password_here